packages:
  yum:
    php-pear: []
    php-devel: []
    gcc: []
    openssl-devel: []

commands:
  01_install_mongo_driver:
    command: "pecl install mongodb"
    test: "! php -m | grep -q mongodb"
  02_add_extension_to_php_ini:
    command: "sh -c 'echo \"extension=mongodb.so\" > /etc/php.d/50-mongodb.ini'"
    test: "! grep -q 'extension=mongodb.so' /etc/php.d/50-mongodb.ini"
